/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .cursor {
  pointer-events: none;
}
.cursor-ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor-ball circle {
  fill: #f7f8fa;
} */

/*  */
.blob {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: url(#goo);
  z-index: -1;
}
.blob .glob {
  /* position: absolute;
  width: 60%;
  height: 75%;
  background: #6d44b5;
  border-radius: 100%;
  top: -25%;
  right: -25%; */
  position: absolute;
  width: 75%;
  height: 75%;
  background: #ffffff1f;
  top: -10%;
  right: -10%;
}
.blob:before,
.blob:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 60%;
  background: #ffffff1f;
  border-radius: 0;
  right: -30%;
  top: -15%;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.blob:after {
  right: -24%;
  top: 10%;
  width: 75%;
  height: 75%;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.blob-clicked {
  z-index: 1;
}
.glob-clicked {
  position: absolute;
  width: 110%;
  height: 110%;
  background: #ffffff1f;
  top: -5%;
  right: -5%;
}

.card * {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card {
  width: 500px;
  min-width: 500px;
  height: 350px;
  position: relative;
  max-width: 100%;
  background: #fff;
}

/* loader */
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.loader {
  width: 90px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  animation: text_713 3.5s ease both infinite;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.load {
  background-color: #ffffff4d;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

/* experience */

.list {
  border-radius: 3px;
  overflow: hidden;
}
.list .card {
  cursor: pointer;
  min-width: 700px;
  margin-bottom: 10px;
  perspective: 600px;
  transition: all 0.1s;
  background-color: #1e1e2a;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 90px;
}
.list .card .bottom {
  height: 0px;
  overflow: hidden;
  width: 200px;
  font-size: 12px;
  color: #777;
  font-weight: normal;
}
.list .card.open {
  padding: 30px;
  height: auto;
}
.list .card.open .bottom {
  margin-top: 10px;
  height: 100%;
  overflow: visible;
}
.list .card.open .book {
  transform: rotateY(32deg);
  /* box-shadow: -10px 10px 10px 2px rgba(0, 0, 0, 0.2), -2px 0px 0px 0px #888; */
  transition: all 0.5s;
  transition-delay: 0.05s;
}
.list .card.open .info {
  transform: translate(0, -10px);
}
.list .card.open .members {
  padding: 15px 20px;
  border-radius: 4px;
  align-self: flex-start;
}
.list .card button.simple {
  cursor: pointer;
  color: #ccc;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #1ea94b;
  padding: 15px 20px;
  font-family: "Montserrat";
  font-weight: bold;
  transition: all 0.1s;
}
.list .card button.simple:hover {
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.3);
  transform: translate(0, -2px);
}
.list .card .book {
  transition: all 0.5s;
  width: 120px;
  /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
}
.list .card .info {
  transition: all 0.2s;
  min-width: 200px;
  padding: 0px 30px;
  font-family: "Montserrat";
  font-weight: bold;
}
.list .card .info .title {
  font-size: 1em;
  color: #fff;
  letter-spacing: 1px;
}
.list .card .info .author {
  font-size: 12px;
  font-weight: normal;
  color: #888;
}
.list .card .group {
  margin-left: auto;
}
.list .card .members {
  transition: all 0.1s;
  padding: 40px;
  font-family: "Montserrat";
  color: #ccc;
  background-color: #1c1c36;
}
.list .card .members .current {
  font-weight: bold;
  margin-right: 10px;
}
.list .card .members .max {
  opacity: 0.5;
  margin-left: 10px;
}

/* .cursor-cusomt {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  animation: cursor-pulse 1s ease-in-out infinite alternate;
}

@keyframes cursor-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.5;
  }
} */

.hover-effect {
  transition: all 0.3s ease;
}

span {
  display: inline-block;
  color: #fff;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  /* pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease; */

  position: fixed;
  z-index: 9999;
  pointer-events: none;
  padding: 0.5rem;
  transform: translateX(-50%) translateY(-50%);
  /* width: 20px;
  height: 20px; */
  border-radius: 50%;
  border: 2px solid #fff;
  animation: cursor-pulse 1s ease-in-out infinite alternate;
  transition: transform 0.3s ease;
}

@keyframes cursor-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

@media (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  nav {
    top: 30%;
  }

  .hover-effect {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
  }
}

/* projects card */
*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

/* --------- Card Animation ---------- */
.project-card:not(:empty):hover,
.project-card:not(:empty):focus {
  z-index: 1;
  background: #fff;
  opacity: 1;
  transform: scale(1.15);
  /* cursor: pointer; */
}
.project-card:not(:empty):hover:after,
.project-card:not(:empty):focus:after {
  opacity: 1;
}
.project-card:not(:empty):hover:before,
.project-card:not(:empty):focus:before {
  opacity: 0;
}

.project-card {
  background: #ffffff;
  border-radius: 0;
  opacity: 0.6;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background, transform, color, opacity;
}
.project-card:not(:empty):before {
  box-shadow: -2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
.project-card:empty {
  opacity: 0.3;
}
.project-card:before,
.project-card:after {
  content: "";
  position: absolute;
  border-radius: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}
.project-card:after {
  box-shadow: -20px 20px 12px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
/* --------- Grid ---------- */
.item1 {
  grid-area: 1 / 1 / 7 / 2;
}
.item2 {
  grid-area: 1 / 2 / 5 / 7;
}
.item3 {
  grid-area: 1 / 7 / 3 / 9;
}
.item4 {
  grid-area: 1 / 9 / 3 / 12;
}
.item5 {
  grid-area: 1 / 12 / 5 / 13;
}
.item6 {
  grid-area: 3 / 7 / 6 / 11;
}
.item7 {
  grid-area: 3 / 11 / 5 / 12;
}
.item8 {
  grid-area: 5 / 2 / 7 / 4;
}
.item9 {
  grid-area: 5 / 4 / 7 / 7;
}
.item10 {
  grid-area: 6 / 7 / 6 / 11;
}
.item11 {
  grid-area: 5 / 11 / 7 / 13;
}
.item12 {
  grid-area: 7 / 9 / 7 / 13;
}
.item13 {
  grid-area: 7 / 9 / 7 / 13;
}

/* --------- Responsive ---------- */
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(6, minmax(auto, 300px));
    overflow-y: scroll;
  }

  .item1 {
    grid-area: 1/1/2/3;
  }

  .project-card {
    grid-area: auto;
    text-align: left;
  }
  .project-card:empty {
    display: none;
  }

  .box {
    grid-template-columns: 75px 1fr;
    grid-template-rows: 75px;
}
}

/* car-bx */
.box {
  background: white;
  border-radius: 0;
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 40px;
  height: max-content;
  position: relative;
}

/* .box-icon {
  display: grid;
  place-items: center;
} */

.box-label {
  grid-area: 1 / 2;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.125em;
}

.box-title {
  white-space: nowrap;
  display: flex;
  align-items: center;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  transform: rotate(-180deg);
  font-size: 16px;
  letter-spacing: 2px;
}

.box-tags {
  grid-area: 2 / 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  transform: rotate(-180deg);
  font-size: 10px;
  padding-top: 5px;
  gap: 5px;
}

.box-image {
  grid-area: 2 / 2;
  overflow: hidden;
}
.box-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.studio-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  background: #191924;
  color: white;
  padding: 6px 6px;
  border-radius: 0;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
  transition: 0.35s ease all;
  overflow: hidden;
  max-width: 36px;
  cursor: pointer;
}

.studio-button-icon {
  position: relative;
  top: 1px;
}

.studio-button-label {
  text-transform: uppercase;
  font-size: 12px;
  white-space: nowrap;
  padding: 0 8px;
  opacity: 0;
  transform: translateX(10px);
  transition: 0.25s ease all;
}

.box:hover .studio-button {
  max-width: 100%;
}
.box:hover .studio-button-label {
  opacity: 1;
  transform: translateX(0);
  transition: 0.25s 0.1s ease-in opacity,
    0.15s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) transform;
}

/* Contact form autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #94a3b8;
  -webkit-box-shadow: 0 0 0px 40rem #191923 inset;
}

/* Sweet Alert */
.swal-overlay {
  background-color: rgb(255 255 255 / 61%);
}

.swal-modal {
  width: 400px !important;
  background-color: #191923 !important;
  border-radius: 0 !important;
}

.swal-text:first-child {
  margin-top: 16px;
}
.swal-text {
  color: #ffffff;
}

.swal-footer {
  text-align: center;
  margin-top: 0;
}

.swal-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
}
.swal-button:not([disabled]):hover {
  background-color: #ffffff1f;
}

/* list  */
ul[role="list"] {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 1em;
  list-style: none;
}
ul li:where(:nth-child(1), :nth-child(5), :nth-child(7), :nth-child(9)) {
  grid-row: span 2;
  grid-column: span 2;
}

ul li:where(:nth-child(1), :nth-child(5)) {
  order: 2;
}

ul li:where(:nth-child(7), :nth-child(8)) {
  order: -1;
}

ul li:nth-child(4) {
  grid-row: 3;
  grid-column: 2 / span 2;
}

ul li:nth-child(3) {
  grid-row: 5 / span 3;
  grid-column: 3;
}

[x-cloak] {
  display: none !important;
}
